<html>
	<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
	<title>Home Page</title>

	</style>
	

	</head>
	<body>
		
<style>
	h1, h2, h3, h4, h5, h6{
        color:red;
}
	</style>
	

<h1 style="color:red;">This is me Charlie</h1>
		
		<img src="http://files.gamebanana.com/img/ico/sprays/mario_with_hammer_3.png"/>



<p> My Friends </p>
<ol>
<li>berge</li>
<li>nour</li>
<li>mousa</li>
</ol>
<p> My hobbies </p>
<ol>
<li>Basketball</li>
<li>Bagpiping</li>
</ol>







<br> 






<a href="aboutme.html" target="_blank"> More About Meeeee </a>
<br><br><br>
<a href="contactme.html" target="_blank"> How to contact me </a>

 
</body>










	</body>
</html>
